.row {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10 0px;
  }
  
  .caret-icon {
    font-size: 20px;
    margin-right: 5px;
  }
  
  .node-link {
    color: #0097e6;
    text-decoration: none;
  }
  
  .node-link:hover {
    text-decoration: underline;
  }
  
  .dot {
    list-style-type: disc;
    margin: 0;
    padding: 0;
    display: inline-block; /* Ensure the dot is inline */
    margin-right: 5px; /* Space between dot and label */
  }
  
  .dot li {
    display: inline;
  }
  